# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/.next
/out

# environment variables
.env
.env.*.local

# system files
.DS_Store

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
